@model IEnumerable<Travosaur.Models.Tour>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssemblingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RedirectURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.English)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chinese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Japanese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssemblingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RedirectURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.English)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Japanese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TourID }) |
                @Html.ActionLink("Details", "Details", new { id=item.TourID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TourID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
